.pricing {
  padding: 4rem 2rem;
  text-align: center;
  /* background-color: #ffffff; */
  background-color: #A2AADB;
 
}
.pricing-plans {
  display: flex;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 2rem;
  margin-top: 2rem;
}

.plan-card {
  background-color: #ffffffda;
  padding: 2rem;
  border-radius: 12px;
  width: 275px;
  height: 300px;
  box-shadow: 0 4px 16px rgba(29, 149, 248, 0.08);
  transition: transform 0.3s ease;
  position: relative;
}

.plan-card:hover {
  transform: translateY(-10px);
}

.plan-card h3 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.price {
  font-size: 1.8rem;
  color: #007bff;
  margin: 1rem 0;
}

.plan-card ul {
  list-style: none;
  padding: 0;
  margin: 1rem 0;
}

.plan-card li {
  margin-bottom: 0.5rem;
  color: #333;
}

.plan-card .btn {
  padding: 0.7rem 1.5rem;
  background-color: #007bff;
  border: none;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 1rem;
}

.plan-card .btn:hover {
  background-color: #0056b3;
}

.popular {
  border: 2px solid #007bff;
}

.badge {
  position: absolute;
  top: -12px;
  right: -12px;
  background-color: #007bff;
  color: white;
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 0.8rem;
}
